#cards {
    display: flex;
    gap: 10px;
}

.card {
    position: relative;
    min-width: 300px;
    min-height: 350px;
    margin: 0;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #f0f8ff;
    box-shadow: -1rem 0 3rem #000;
    color: #000;
    font-weight: 800;
    transition: .2s;
    transition: 300ms ease-in-out;
}

.card + .card {
    margin: -10%;
}
.card:hover {
    transform: rotate(-4deg);
}
.card:hover ~ .card {
    z-index: 1;
    transform: translate(60px);
}                                                          